* {

    background-color: gray;
    
}

#Logowanie, #Rejestracja, #Zamowienie {

    color: blue;
    font-weight: bold;

}

#Zaloguj, #Zarejestruj, #Zamowienie {

    font-size: 20px;
    font-weight: bold;

}